build/
__pycache__/
*.py[cod]

tvm/
tvm_out/
.pkl_memoize_py3/

notebooks/*.json
notebooks/*.params
notebooks/*.so
notebooks/*.txt

artifacts/*.json
artifacts/*.params
artifacts/*.so
artifacts/*.txt
tvm_cpp/artifacts/
examples/artifacts/**
!examples/artifacts/.gitkeep
examples/**/*.onnx
examples/**/*.so
examples/**/*.params
examples/**/*.tar
examples/**/model.json
examples/**/metadata.json

ignored/
*.onnx
*.onnx.data

*.so
